.body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.row{
    display: flex;
}

.col{
    height: 50px;
    width: 50px;
    border: 1px solid black;
    display: flex; 
    justify-content: center;
    font-size: 30px;
    align-items: center;
}